<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 使用bootstrap引用css文件，在href中写上引用的文件 -->
    <!-- 这样的话，还没有成功引用，还需要使用django的模板语言，在settings.py文件中添加引用本地静态文件的方法 -->
    <!-- settings.py文件的最后已经有一行STATIC_URL = '/static/' ,即去static文件加下面读取css文件，然后，我们需要加上在本地配置css文件的方法，就需要在项目目录下面新建一个存放本地静态文件的文件夹static，把my.css文件存放在这里 -->
    <!-- <link rel="stylesheet" href="./my.css"> -->
    <!-- 本地css文件配置完了之后，在html文件中怎么引用静态资源呢，需要使用django的模板语言引用 -->
    <!-- 在引用css文件的前面加上load static -->
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static "my.css" %}">
    <!-- 以上是引用本地的静态文件中的样式，我们也可以引用别人在线的样式库中的样式，并且把属性改成别人的属性-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" crossorigin="anonymous">


</head>
<body>


<div class="container">
    <form method="post", action="/index/" class="form-signin" style="margin-left: 300px; margin-right: 300px;">
        <h2 class="form-signin-heading">登录</h2>
    <!-- 我们可以给输入框指定一些样式，样式相同的话，可以单独定义一个样式标签，然后在每个输入框的属性里面引用 -->
    <!-- 这样做的原因是可以把html和css样式独立开 -->
    <!-- 独立开之后，在同一个文件里面既写html,又写css也比较难管理，因此，我们再把css的内容单独写到一个文件里面 -->
    <!-- 在templates文件夹下面单独新建一个my.css文件，把刚写的<style> </style> 中的部分复制到my.css中-->
    <!-- 复制过去，在html中怎么引用这个css文件呢？我们找一下bootstrap中引用css文件的方法，在html的head中加一行link(第6行) -->
        <input type="text" name="username" class="form-control"><br>
        <input type="password" name="password" class="form-control"><br>
        {{ error }} <br>
        {% csrf_token %}
        <input type="submit" value="login" class="btn btn-lg btn-primary btn-block">
    </form>
</div>

<!--
<style>
       .input{
       margin-left: 20px;
        height: 20px;
        border-style: solid;
        border-color: #CCFF33;
        border-radius: 6px!important;
   }
    .size{
        color:red;
    }
</style>
-->
</body>
</html>